.btn {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 0px solid #000;
    border-radius: 10px;
    box-shadow: -3px 3px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

// .btn:hover {
//     background-color: #fff;
//     color: #FFC9B5;
//     border: 0px solid #FFC9B5;
//     box-shadow: -3px 3px 0px #FFC9B5;

// }

.btn:active {
    background-color: #fff;
    box-shadow: none;
    transform: translateY(4px);
}

.wpc-filters-open-button-container {
    position: fixed !important;
    bottom: 15px !important;
    left: 15px !important;
    margin-bottom: 0px !important;
    background-color: #fff !important;
    border: 1px solid #dddddd !important;
    z-index: 998 !important;
    padding: 8px 15px !important;
    border-radius: 99px !important;
}