img.packshot {
    width: 80% !important;
    aspect-ratio: 3/2 !important;
    object-fit: contain !important;
}

img.packshot-full {
    width: 100% !important;
    aspect-ratio: 1/1 !important;
    object-fit: contain !important;
}

img.merklogo {
    width: 70% !important;
    aspect-ratio: 3/2 !important;
    object-fit: contain !important;
}

.icoon svg {
    width: 55% !important;
    aspect-ratio: 2/3 !important;
    object-fit: contain !important;

    path,
    rect {
        fill: #000 !important;
    }
}