.gfield_required {
    display: none !important;
}

.aws-search-btn_icon {
    display: none !important;
}

.aws-search-btn.aws-form-btn:after {
    content: "Zoeken" !important;
    height: 40px !important;
    background: transparent !important;
    width: 65px !important;
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    font-weight: 700 !important;
    font-family: Plus Jakarta Sans, sans-serif !important;

    @media (min-width: 768px) {
        content: "Zoeken" !important;
        height: 45px !important;
        background: #C2F0A0 !important;
        width: 118px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 99px !important;
        font-weight: 700 !important;
        font-family: Plus Jakarta Sans, sans-serif !important;
    }
}

.aws-container .aws-search-form .aws-form-btn {
    background: transparent !important;
    border: 0px !important;
    width: 65px !important;
    height: 40px !important;
    margin-left: 10px !important;

    @media (min-width: 768px) {
        width: 120px !important;
        height: 45px !important;
    }

}

.aws-search-field {
    border: 0px !important;
    border-bottom: 1px !important;
    font-size: 15px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    padding: 0px !important;
    background: #fff !important;

    @media (min-width: 768px) {
        font-size: 20px !important;
    }
}

.aws-search-form {
    border-bottom: 1px solid #1F1F1F !important;
    height: auto !important;
    padding-bottom: 10px !important;

    @media (min-width: 768px) {
        padding-bottom: 15px !important;
    }
}

.aws_result_image {
    border-radius: 10px !important;
    overflow: hidden !important;
    justify-content: center !important;
    align-items: center !important;
    aspect-ratio: 1 / 1 !important;
    display: flex !important;
    position: relative !important;
    background: #F2FBFF !important;
    width: 100% !important;


    img {
        width: 80% !important;
        aspect-ratio: 3 / 2 !important;
        object-fit: contain !important;
        mix-blend-mode: multiply;
    }
}

.aws-search-result {
    padding-top: 20px !important;
    margin-top: 1px !important;

    @media (min-width: 768px) {
        padding-top: 50px !important;
        margin-top: 1px !important;
    }

    border: 0px solid #ccc !important;
    z-index: 999 !important;


    ul {
        max-height: 100% !important;
        height: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;

        // MD
        @media (min-width: 768px) {
            grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
            height: 100% !important;
        }

        // LG
        @media (min-width: 1200px) {
            grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
        }

        // XL
        @media (min-width: 1352px) {
            grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
        }

        align-items: start !important;

        li {
            border-bottom: 0px !important;
        }
    }
}

.aws_result_link {
    display: grid !important;
}

.aws-search-result .aws_result_item.hovered,
.aws-search-result .aws_result_item:hover,
.aws-search-result .aws_search_more a:hover {
    background: transparent !important;
}

.aws_result_content {
    display: grid !important;
}

.aws_result_title {
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 500 !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    padding-top: 8px !important;
    color: #2B2828 !important;
    order: 2 !important;
}

.aws_result_price {
    font-size: 15px !important;
    line-height: 16px !important;
    font-weight: 800 !important;
    margin-bottom: 3px !important;
    color: #000 !important;
    order: 1 !important;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
}

.aws_search_more {
    grid-column: span 2 !important;
    font-size: 15px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    padding-bottom: 40px !important;

    a {
        color: #000 !important;
    }

    // MD
    @media (min-width: 768px) {
        grid-column: span 4 !important;
    }

    // LG
    @media (min-width: 1200px) {
        grid-column: span 4 !important;
    }

    // XL
    @media (min-width: 1352px) {
        grid-column: span 4 !important;
    }
}

.menu-active .aws-search-result {
    max-height: calc(100dvh - 195px) !important;
    overflow-y: auto !important;

    // MD
    @media (min-width: 768px) {
        max-height: calc(100dvh - 188px) !important;
    }
}





.swiper-pagination-bullet {
    width: 100% !important;
    background: transparent !important;
    margin: 0px !important;

    .tab-text {
        font-family: Plus Jakarta Sans, sans-serif !important;
        font-weight: 700 !important;
        font-size: 15px !important;
        text-decoration: underline !important;
        color: #000 !important;
    }
}

.swiper-pagination-bullet-active {
    display: none !important;
}

.mySwiperAccount {
    label {
        font-size: 13px !important;
        line-height: 25px !important;
        font-weight: 600 !important;
        font-family: Plus Jakarta Sans, sans-serif !important;
        margin-top: 8px !important;

    }

    input {
        border: 1px solid #dedede !important;
        height: 53px !important;
        padding-left: 10px !important;

        &#wp-submit {
            border: 0px solid #dedede !important;
            padding-left: 0px !important;
            width: 100% !important;
            display: flex !important;
            justify-content: center !important;
            height: 45px !important;
            position: relative !important;
            align-content: center !important;
            align-items: center !important;
            border-radius: 20px !important;
            background-color: #C2F0A0 !important;
            font-family: Plus Jakarta Sans, sans-serif !important;
            font-weight: 700 !important;
            font-size: 15px !important;
            -webkit-font-smoothing: unset !important;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            cursor: pointer !important;
        }
    }


}

.nutriform {
    label {
        display: none !important;
    }

    .labeltrue {
        label {
            display: block !important;
        }
    }

    input {
        border: 1px solid #dedede !important;
        height: 53px !important;
        padding-left: 10px !important;
        box-shadow: none !important;
        border-radius: 0px !important;
    }


    textarea {
        border: 1px solid #dedede !important;
        padding-left: 10px !important;
        box-shadow: none !important;
        border-radius: 0px !important;
    }

    input.button {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        height: 52px !important;
        position: relative !important;
        align-content: center !important;
        align-items: center !important;
        border-radius: 20px !important;
        background-color: #c2f0a0 !important;
        font-family: Plus Jakarta Sans, sans-serif !important;
        font-weight: 700 !important;
        font-size: 15px !important;
        color: #000 !important;
        border-radius: 99px !important;
        -webkit-font-smoothing: unset !important;
    }

    .gform_wrapper.gravity-theme .gform_footer,
    .gform_wrapper.gravity-theme .gform_page_footer {
        margin: 0px !important;
        padding: 0px !important;
        margin-top: 15px !important;
    }

    // .gform_footer {
    //     margin-top: 15px !important;
    // }

    .gform_validation_errors {
        display: none !important;
    }

    .gfield {
        position: relative !important;
    }

    .validation_message {
        position: absolute !important;
        top: -17px !important;
        right: 20px !important;
        background: #fff !important;
        color: #FF6248 !important;
    }

    .gform_confirmation_message {
        font-size: 14px !important;
        line-height: 25px !important;
        font-weight: 400 !important;
        font-family: Plus Jakarta Sans, sans-serif !important;
        color: #000 !important;
    }


}

.gform_title {
    display: none !important;
}

textarea::placeholder {
    color: #BCBCBC !important;
}