.swiper-button-next-shop,
.swiper-button-prev-shop {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next-shop {
    right: 10px;

    &::after {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9.173" height="15.255"><g data-name="Pijl rechts mobiel"><g data-name="Group 472" fill="none" stroke="%23D4D6D8" stroke-linecap="round" stroke-width="2"><path data-name="Line 36" d="m2.086 1.545 5 6.083"/><path data-name="Line 37" d="m7.086 7.628-5 6.083"/></g></g></svg>');
        display: block;


    }
}

.swiper-button-prev-shop {
    left: 10px;

    &::after {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9.173" height="15.255"><g data-name="Pijl rechts mobiel"><g data-name="Group 472" fill="none" stroke="%23D4D6D8" stroke-linecap="round" stroke-width="2"><path data-name="Line 36" d="m7.087 13.71-5-6.083"/><path data-name="Line 37" d="m2.087 7.627 5-6.083"/></g></g></svg>');
        display: block;


    }
}