#single-product .accordion-item {
    &:first-of-type {
        border-top: 1px solid #0A1F16 !important;
    }

    border-bottom: 1px solid #0A1F16;

    .accordion {
        color: #000;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition-delay: .2s;
        transition-property: background-color, color;
        transition-duration: .2s;

        &::after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15.255" height="9.173" viewBox="0 0 15.255 9.173"><g id="Pijl_rechts_mobiel" data-name="Pijl rechts mobiel" transform="translate(1.545 7.628) rotate(-90)"><g id="Group_472" data-name="Group 472" transform="translate(0)"><line id="Line_36" data-name="Line 36" x2="7.837" y2="0.765" transform="translate(0.541 0) rotate(45)" fill="none" stroke="%230a1f16" stroke-linecap="round" stroke-width="1"/><line id="Line_37" data-name="Line 37" y1="0.765" x2="7.837" transform="translate(6.082 6.624) rotate(135)" fill="none" stroke="%230a1f16" stroke-linecap="round" stroke-width="1"/></g></g></svg>');
            margin-left: auto;
            transition: .3s;
            display: block;
            transform-origin: center;
            transform: rotate(180deg);
            transform-origin: center;
        }

        &.active {
            transition-delay: 0s;
            transition: 0s;

            &::after {
                transform: rotate(0deg);
                transform-origin: center;
            }
        }
    }

    .panel {
        overflow: hidden;
        height: 0;
        transition: height .2s ease-out;
    }
}





// FILTER

.filter input[type=radio] {

    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 0px !important;
    width: 0px !important;
    border-radius: 0px !important;
    border: 0px solid #8CC63F !important;
    background: #8CC63F !important;
    transition-duration: 0.3s !important;
    position: relative !important;

}

.wpc-filters-main-wrap li.wpc-term-item label {
    padding-left: 0px !important;
}

.filter {
    input[type=checkbox] {
        appearance: none !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        height: 12px !important;
        width: 12px !important;
        border-radius: 2px !important;
        border: 1px solid #0A1F16 !important;
        transition-duration: 0.3s !important;
    }

    label {
        padding-left: 5px !important;
    }
}

.filter input[type=radio]:checked+label a {
    font-weight: 600 !important;
    transition-duration: .3s !important;
}


.filter input[type=checkbox]:checked {
    appearance: none !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 12px !important;
    width: 12px !important;
    border-radius: 2px !important;
    border: 1px solid #000 !important;
    background: #fff !important;
    transition-duration: 0.3s !important;
    position: relative !important;

    &::before {
        content: '\2717';
        display: block;
        color: #000 !important;
        position: absolute;
        left: 1px !important;
        top: -2px !important;
        font-size: 10px !important;
    }


}

.filter .wpc-filter-pa_kleur ul {
    input[type=checkbox] {
        appearance: none !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        height: 0px !important;
        width: 0px !important;
        border-radius: 2px !important;
        border: 0px solid #8CC63F !important;
        background: #8CC63F !important;
        transition-duration: 0.3s !important;
        position: relative !important;
    }
}

.filter .wpc-filter-pa_kleur ul input[type=checkbox]:checked {
    appearance: none !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 0px !important;
    width: 0px !important;
    border-radius: 2px !important;
    border: 0px solid #8CC63F !important;
    background: #8CC63F !important;
    transition-duration: 0.3s !important;
    position: relative !important;
}

.wpc-filters-main-wrap li.wpc-term-item input[type=radio] {
    outline: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0;
}

.wpc-filters-main-wrap li.wpc-term-item input[type=checkbox] {
    outline: 0;
    margin-left: 0px !important;
    margin-right: 10px !important;
    margin-bottom: 0;
}

.wpc-filter-pa_kleur li.wpc-term-item input[type=checkbox] {
    outline: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0;

    &:checked+label a {
        font-weight: 600 !important;
        transition-duration: .3s !important;
    }
}

li.wpc-term-item label span.wpc-term-swatch,
.wpc-term-swatch-wrapper {
    width: 12px !important;
    min-width: 12px !important;
    height: 12px !important;
}

.wpc-filters-section:not(.wpc-filter-more-less):not(.wpc-filter-post_meta_num):not(.wpc-filter-tax_numeric):not(.wpc-filter-layout-dropdown) .wpc-filter-content:not(.wpc-filter-has-hierarchy) ul.wpc-filters-ul-list {
    max-height: unset !important;
}

.wpc-filter-collapsible-reverse.wpc-filter-collapsible .wpc-filter-title .wpc-open-icon,
.wpc-filter-collapsible.wpc-opened .wpc-filter-title .wpc-open-icon,
.wpc-filter-has-selected .wpc-filter-title .wpc-open-icon {
    transform: rotate(45deg);
    transition-duration: 0.2s !important;
}

.wpc-filters-range-wrapper {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 146px !important;
    height: 38px !important;
    border: 1px solid #707070 !important;
    border-radius: 999px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.wpc-filters-range-min-column {
    margin-right: 0px !important;
    width: auto !important;
    max-width: unset !important;
    text-align: center !important;
    float: right !important;
}

.wpc-filters-range-max-column {
    margin-right: 0px !important;
    width: auto !important;
    max-width: unset !important;
    text-align: center !important;
    float: left !important;
}

.wpc-filters-range-wrapper input[type=number] {
    width: 40px !important;
    justify-content: center;
    text-align: center !important;
    display: flex;
    color: #2B2828 !important;
}

.wpc-filters-range-inputs .ui-button,
.wpc-filters-range-inputs .ui-state-default,
.wpc-filters-range-inputs .ui-widget-content .ui-state-default,
.wpc-filters-range-inputs .ui-widget-header .ui-state-default,
html .wpc-filters-range-inputs .ui-button.ui-state-disabled:active,
html .wpc-filters-range-inputs .ui-button.ui-state-disabled:hover {
    border: 1px solid #000000 !important;
    background: #fff !important;
    font-weight: 400;
    color: #454545;
}

.wpc-filters-range-inputs .ui-slider-horizontal .ui-slider-handle {
    top: -12px;
    margin-left: -13px !important;
    border-radius: 50%;
    outline: 0;
    box-shadow: none !important;
}

.wpc-filters-range-inputs .ui-slider-horizontal {
    height: 1px !important;
    background: #000000 !important;
}

.wpc-filters-range-inputs .ui-slider-horizontal .ui-slider-range {
    background-color: #8CC63F !important;
    height: 5px !important;

}

.wpc-filters-range-slider-wrapper {
    margin: 30px 0px 20px 0px !important;
}

.wpc-filters-range-inputs .ui-slider .ui-slider-handle {
    width: 26px !important;
    height: 26px !important;
}

.wpc-filter-range-form {
    margin-right: 20px !important;
    margin-left: 20px !important;
}

body .wpc-filters-open-button-container a.wpc-filters-open-widget,
body .wpc-filters-open-button-container a.wpc-open-close-filters-button {
    display: inline-block;
    text-align: left;
    border: 0px solid #2c2d33 !important;
    border-radius: 2px;
    line-height: 1.5;
    padding: 0px 0px !important;
    background-color: transparent;
    color: #2B2828 !important;
    box-sizing: border-box;
    text-decoration: none !important;
    font-weight: 400;
    transition: none;
    position: relative;
    font-family: Karlsen, sans-serif !important;
    font-size: 16px !important;
}

.wpc-filters-apply-button {
    width: 100% !important;
    background: #8CC63F !important;
    z-index: 1 !important;
    font-family: Tanker, sans-serif !important;
    font-size: 19px !important;
    line-height: 25px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 0px !important;
    font-weight: 400 !important;
    color: #fff !important;
    border: 1px solid #8CC63F !important;
}




.wpc-filter-chip {
    background: #CDEEFF !important;
    border-radius: 22px !important;
    border: 0px solid #CDEEFF !important;
    height: 35px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.wpc-chip-reset-all {
    display: none !important;

}

.wpc-chip-remove-icon {
    display: inline-block;

    line-height: 13px !important;
    margin-bottom: 2px !important;
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
}

body .wpc-filter-chips-list li.wpc-filter-chip:not(.wpc-chip-reset-all) a {
    border-color: #CDEEFF !important;
}

.wpc-filter-chips-list li,
body .wpc-filter-chips-list li.wpc-filter-chip,
li.wpc-filter-chip {
    margin: 0 7px 0px 0 !important;
    padding: 0;
    border: none;
    list-style: none;
    font-size: 11px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
}


.wpc-sorting-form select {
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000 !important;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    display: unset !important;
    position: relative !important;
    margin-right: 20px !important;
    top: 0px !important;
    left: unset !important;

}

.woocommerce-result-count,
.woocommerce-ordering {
    display: none !important;
}


form.cart {
    display: flex !important;
}

form.variations_form.cart {
    display: grid !important;

    .woocommerce-variation-add-to-cart {
        display: flex !important;
    }
}

main .button {
    height: 45px !important;
    width: 100% !important;
    background: #C2F0A0 !important;
    color: #000 !important;
    border-radius: 30px !important;

}

p.in-stock {
    color: #C0DC40 !important;
    border: 1px solid #C0DC40 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    border-radius: 10px !important;
    font-size: 12px !important;
    width: fit-content !important;
    margin-bottom: 20px !important;
}

p.out-of-stock {
    color: #FF6148 !important;
    border: 1px solid #FF6148 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    border-radius: 10px !important;
    font-size: 12px !important;
    width: fit-content !important;
    margin-bottom: 0px !important;
}


.yith-wcwl-add-button a {
    font-size: 0px !important;


}

.separator {
    display: none !important;
}

.yith-wcwl-icon {
    font-size: 16px !important;
}

.fa-heart-o:before {
    content: "\f08a";
    color: #d4d6d8 !important;
}

.fa-heart:before {
    content: "\f004";
    color: #d4d6d8 !important;
}


.wpc-filters-main-wrap li.wpc-term-item a {
    text-decoration: none;
    font-weight: 400;
    outline: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
}

.wpc-term-count {
    white-space: nowrap;
    margin: 0 5px;
    display: none !important;
    opacity: 1 !important;
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
}

.wpc-wrap-icons {
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
    font-weight: 700 !important;
}

.wpc-filter-selected-values {
    visibility: hidden;
    opacity: 0 !important;
    margin-top: 5px;
    font-size: 13px;
    padding-right: 10px;
    line-height: 0 !important;
}