#single-product .accordion-item {
    &:first-of-type {
        border-top: 1px solid #0A1F16 !important;
    }

    border-bottom: 1px solid #0A1F16;

    .accordion {
        color: #000;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition-delay: .2s;
        transition-property: background-color, color;
        transition-duration: .2s;

        &::after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15.255" height="9.173" viewBox="0 0 15.255 9.173"><g id="Pijl_rechts_mobiel" data-name="Pijl rechts mobiel" transform="translate(1.545 7.628) rotate(-90)"><g id="Group_472" data-name="Group 472" transform="translate(0)"><line id="Line_36" data-name="Line 36" x2="7.837" y2="0.765" transform="translate(0.541 0) rotate(45)" fill="none" stroke="%230a1f16" stroke-linecap="round" stroke-width="1"/><line id="Line_37" data-name="Line 37" y1="0.765" x2="7.837" transform="translate(6.082 6.624) rotate(135)" fill="none" stroke="%230a1f16" stroke-linecap="round" stroke-width="1"/></g></g></svg>');
            margin-left: auto;
            transition: .3s;
            display: block;
            transform-origin: center;
            transform: rotate(180deg);
            transform-origin: center;
        }

        &.active {
            transition-delay: 0s;
            transition: 0s;

            &::after {
                transform: rotate(0deg);
                transform-origin: center;
            }
        }
    }

    .panel {
        overflow: hidden;
        height: 0;
        transition: height .2s ease-out;
    }
}





// FILTER

.filter input[type=radio] {

    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 0px !important;
    width: 0px !important;
    border-radius: 0px !important;
    border: 0px solid #8CC63F !important;
    background: #8CC63F !important;
    transition-duration: 0.3s !important;
    position: relative !important;

}

.wpc-filters-main-wrap li.wpc-term-item label {
    padding-left: 0px !important;
}

.filter {
    input[type=checkbox] {
        appearance: none !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        height: 12px !important;
        width: 12px !important;
        border-radius: 2px !important;
        border: 1px solid #0A1F16 !important;
        transition-duration: 0.3s !important;
    }

    label {
        padding-left: 5px !important;
    }
}

.filter input[type=radio]:checked+label a {
    font-weight: 600 !important;
    transition-duration: .3s !important;
}


.filter input[type=checkbox]:checked {
    appearance: none !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 12px !important;
    width: 12px !important;
    border-radius: 2px !important;
    border: 1px solid #000 !important;
    background: #fff !important;
    transition-duration: 0.3s !important;
    position: relative !important;

    &::before {
        content: '\2717';
        display: block;
        color: #000 !important;
        position: absolute;
        left: 1px !important;
        top: -2px !important;
        font-size: 10px !important;
    }


}

.filter .wpc-filter-pa_kleur ul {
    input[type=checkbox] {
        appearance: none !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        height: 0px !important;
        width: 0px !important;
        border-radius: 2px !important;
        border: 0px solid #8CC63F !important;
        background: #8CC63F !important;
        transition-duration: 0.3s !important;
        position: relative !important;
    }
}

.filter .wpc-filter-pa_kleur ul input[type=checkbox]:checked {
    appearance: none !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 0px !important;
    width: 0px !important;
    border-radius: 2px !important;
    border: 0px solid #8CC63F !important;
    background: #8CC63F !important;
    transition-duration: 0.3s !important;
    position: relative !important;
}

.wpc-filters-main-wrap li.wpc-term-item input[type=radio] {
    outline: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0;
}

.wpc-filters-main-wrap li.wpc-term-item input[type=checkbox] {
    outline: 0;
    margin-left: 0px !important;
    margin-right: 10px !important;
    margin-bottom: 0;
}

.wpc-filter-pa_kleur li.wpc-term-item input[type=checkbox] {
    outline: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0;

    &:checked+label a {
        font-weight: 600 !important;
        transition-duration: .3s !important;
    }
}

li.wpc-term-item label span.wpc-term-swatch,
.wpc-term-swatch-wrapper {
    width: 12px !important;
    min-width: 12px !important;
    height: 12px !important;
}

.wpc-filters-section:not(.wpc-filter-more-less):not(.wpc-filter-post_meta_num):not(.wpc-filter-tax_numeric):not(.wpc-filter-layout-dropdown) .wpc-filter-content:not(.wpc-filter-has-hierarchy) ul.wpc-filters-ul-list {
    max-height: unset !important;
}

.wpc-filter-collapsible-reverse.wpc-filter-collapsible .wpc-filter-title .wpc-open-icon,
.wpc-filter-collapsible.wpc-opened .wpc-filter-title .wpc-open-icon,
.wpc-filter-has-selected .wpc-filter-title .wpc-open-icon {
    transform: rotate(45deg);
    transition-duration: 0.2s !important;
}

.wpc-filters-range-wrapper {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 146px !important;
    height: 38px !important;
    border: 1px solid #707070 !important;
    border-radius: 999px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.wpc-filters-range-min-column {
    margin-right: 0px !important;
    width: auto !important;
    max-width: unset !important;
    text-align: center !important;
    float: right !important;
}

.wpc-filters-range-max-column {
    margin-right: 0px !important;
    width: auto !important;
    max-width: unset !important;
    text-align: center !important;
    float: left !important;
}

.wpc-filters-range-wrapper input[type=number] {
    width: 40px !important;
    justify-content: center;
    text-align: center !important;
    display: flex;
    color: #2B2828 !important;
}

.wpc-filters-range-inputs .ui-button,
.wpc-filters-range-inputs .ui-state-default,
.wpc-filters-range-inputs .ui-widget-content .ui-state-default,
.wpc-filters-range-inputs .ui-widget-header .ui-state-default,
html .wpc-filters-range-inputs .ui-button.ui-state-disabled:active,
html .wpc-filters-range-inputs .ui-button.ui-state-disabled:hover {
    border: 1px solid #000000 !important;
    background: #fff !important;
    font-weight: 400;
    color: #454545;
}

.wpc-filters-range-inputs .ui-slider-horizontal .ui-slider-handle {
    top: -12px;
    margin-left: -13px !important;
    border-radius: 50%;
    outline: 0;
    box-shadow: none !important;
}

.wpc-filters-range-inputs .ui-slider-horizontal {
    height: 1px !important;
    background: #000000 !important;
}

.wpc-filters-range-inputs .ui-slider-horizontal .ui-slider-range {
    background-color: #8CC63F !important;
    height: 5px !important;

}

.wpc-filters-range-slider-wrapper {
    margin: 30px 0px 20px 0px !important;
}

.wpc-filters-range-inputs .ui-slider .ui-slider-handle {
    width: 26px !important;
    height: 26px !important;
}

.wpc-filter-range-form {
    margin-right: 20px !important;
    margin-left: 20px !important;
}

body .wpc-filters-open-button-container a.wpc-filters-open-widget,
body .wpc-filters-open-button-container a.wpc-open-close-filters-button {
    display: inline-block !important;
    text-align: left;
    border: 0px solid #2c2d33 !important;
    border-radius: 2px;
    line-height: 1.5;
    padding: 0px 0px !important;
    background-color: transparent;
    color: #2B2828 !important;
    box-sizing: border-box;
    text-decoration: none !important;
    font-weight: 400;
    transition: none;
    position: relative;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 16px !important;
}

.wpc-filters-apply-button {
    width: 100% !important;
    background: #C2F0A0 !important;
    z-index: 1 !important;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 17px !important;
    line-height: 25px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 0px !important;
    font-weight: 600 !important;
    color: #000 !important;
    border: 1px solid #C2F0A0 !important;
}

.wpc-filters-close-button {
    width: 100% !important;
    background: #fff !important;
    z-index: 1 !important;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 17px !important;
    line-height: 25px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 0px !important;
    font-weight: 600 !important;
    color: #000 !important;
    border: 1px solid #DDDDDD !important;
}

.wpc-filters-widget-controls-item {
    width: 48% !important;
}

.wpc-filter-chips-list {
    display: flex !important;
}

.wpc-filter-chip {
    background: #CDEEFF !important;
    border-radius: 22px !important;
    border: 0px solid #CDEEFF !important;
    height: 35px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.wpc-chip-reset-all {
    display: none !important;

}

.wpc-chip-remove-icon {
    display: inline-block;

    line-height: 13px !important;
    margin-bottom: 2px !important;
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
}

body .wpc-filter-chips-list li.wpc-filter-chip:not(.wpc-chip-reset-all) a {
    border-color: #CDEEFF !important;
}

.wpc-filter-chips-list li,
body .wpc-filter-chips-list li.wpc-filter-chip,
li.wpc-filter-chip {
    margin: 0 7px 0px 0 !important;
    padding: 0;
    border: none;
    list-style: none;
    font-size: 11px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
}



.wpc-filter-layout-dropdown select {
    border: 1px solid #000;
    display: none !important;
}

.wpc-filter-layout-dropdown .widget-title {
    display: none !important;
}




.wpc-sorting-form select {
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000 !important;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    display: unset !important;
    position: relative !important;
    margin-right: 20px !important;
    top: 0px !important;
    left: unset !important;

}

.woocommerce-result-count,
.woocommerce-ordering {
    display: none !important;
}


form.cart {
    display: flex !important;
}

form.variations_form.cart {
    display: grid !important;

    .woocommerce-variation-add-to-cart {
        display: flex !important;
    }
}

main .button {
    height: 52px !important;
    width: 100% !important;
    background: #C2F0A0 !important;
    color: #000 !important;
    border-radius: 30px !important;

}

p.in-stock {
    color: #C0DC40 !important;
    border: 1px solid #C0DC40 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    border-radius: 10px !important;
    font-size: 12px !important;
    width: fit-content !important;
    margin-bottom: 20px !important;
}

p.out-of-stock {
    color: #FF6148 !important;
    border: 1px solid #FF6148 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    border-radius: 10px !important;
    font-size: 12px !important;
    width: fit-content !important;
    margin-bottom: 0px !important;
}


.yith-wcwl-add-button a {
    font-size: 0px !important;


}

.separator {
    display: none !important;
}

.yith-wcwl-icon {
    font-size: 16px !important;
}

.fa-heart-o:before {
    content: "\f08a";
    color: #d4d6d8 !important;
}

.fa-heart:before {
    content: "\f004";
    color: #d4d6d8 !important;
}


.wpc-filters-main-wrap li.wpc-term-item a {
    text-decoration: none;
    font-weight: 400;
    outline: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
}

.wpc-term-count {
    white-space: nowrap;
    margin: 0 5px;
    display: none !important;
    opacity: 1 !important;
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
}

.wpc-wrap-icons {
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #000000 !important;
    font-weight: 700 !important;
}

.wpc-filter-selected-values {
    visibility: hidden;
    opacity: 0 !important;
    margin-top: 5px;
    font-size: 13px;
    padding-right: 10px;
    line-height: 0 !important;
}

.woocommerce-notices-wrapper {
    display: none !important;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    padding: 0px !important;
    margin: 0 0 2em;
    position: relative;
    background-color: transparent !important;
    color: #000 !important;
    border-top: 0px solid #7f54b3 !important;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
    text-align: center !important;
    font-size: 13px !important;
    font-family: Plus Jakarta Sans, sans-serif !important;

    &::before {
        color: #000 !important;
        display: none !important;
    }
}

.wc_points_rewards_apply_discount {
    margin-top: 0px !important;
    display: grid !important;

    .button {
        max-width: 250px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: unset !important;
        margin-top: 15px !important;
    }
}

.return-to-shop {
    text-align: center !important;

    .button {
        max-width: 250px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: unset !important;
        margin-top: 15px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

.stock {
    display: none !important;
}

.reset_variations {
    display: none !important;
}

.woocommerce-variation-price {
    margin-top: 15px !important;
}

.variations .label {
    display: none !important;
}

.variations {
    margin-bottom: 0px !important;
    width: 100% !important;

    li {
        width: 45% !important;
        font-size: 13px !important;
        font-family: Plus Jakarta Sans, sans-serif !important;
        color: #000000 !important;
        font-weight: 400 !important;
        height: fit-content !important;

        // MD
        @media (min-width: 768px) {
            width: 45% !important;
        }

        // LG
        @media (min-width: 1200px) {
            width: 30% !important;
        }

        // XL
        @media (min-width: 1352px) {
            width: 30% !important;
        }
    }
}

.woocommerce-variation-add-to-cart {
    margin-top: 20px !important;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled .variable-item-contents:before,
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).disabled:hover .variable-item-contents:before {
    display: none !important;
}

del {
    font-weight: 300 !important;
}

ins {
    text-decoration: none !important;
    margin-left: 8px !important;
}







// CHECKOUT

.custom-checkout {

    .woocommerce-billing-fields {


        #billing_first_name_field,
        #shipping_first_name_field {
            width: 100% !important;
            order: 1 !important;
        }

        #billing_last_name_field,
        #shipping_last_name_field {
            width: 100% !important;
            order: 2 !important;
        }

        #billing_phone_field,
        #shipping_phone_field {
            width: 100% !important;
            order: 7 !important;
        }

        #billing_email_field,
        #shipping_email_field {
            width: 100% !important;
            order: 8 !important;
        }

        #billing_country_field,
        #shipping_country_field {
            width: 100% !important;
            order: 3 !important;
            display: none !important;
        }


        #billing_address_1_field,
        #shipping_address_1_field {
            width: 100% !important;
            order: 4 !important;
        }

        #billing_postcode_field,
        #shipping_postcode_field {
            width: 100% !important;
            order: 5 !important;
        }

        #billing_city_field,
        #shipping_city_field {
            width: 100% !important;
            order: 6 !important;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 768px) {

            #billing_first_name_field,
            #shipping_first_name_field {
                width: 35% !important;
                order: 1 !important;
            }

            #billing_last_name_field,
            #shipping_last_name_field {
                width: 65% !important;
                order: 2 !important;
            }

            #billing_phone_field,
            #shipping_phone_field {
                width: 35% !important;
                order: 7 !important;
            }

            #billing_email_field,
            #shipping_email_field {
                width: 65% !important;
                order: 8 !important;
            }

            #billing_country_field,
            #shipping_country_field {
                width: 35% !important;
                order: 3 !important;
                display: none !important;
            }


            #billing_address_1_field,
            #shipping_address_1_field {
                width: 100% !important;
                order: 4 !important;
            }

            #billing_postcode_field,
            #shipping_postcode_field {
                width: 20% !important;
                order: 5 !important;
            }

            #billing_city_field,
            #shipping_city_field {
                width: 80% !important;
                order: 6 !important;
            }
        }


        #billing_company_field,
        #billing_address_2_field,
        #shipping_company_field,
        #shipping_address_2_field {
            display: none !important;
        }

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }

        input {
            border: 1px solid #DEDEDE !important;
            height: 53px !important;
            padding-left: 10px !important;
        }

        h3 {
            display: none !important;
        }



    }

    .woocommerce-form__label-for-checkbox {
        width: 100% !important;
        cursor: pointer;
    }

    .wc_payment_method label img {
        display: none !important;
    }

    li.wc_payment_method {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #add_payment_method #payment div.payment_box,
    .woocommerce-cart #payment div.payment_box,
    .woocommerce-checkout #payment div.payment_box {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin-top: 0px !important;
        margin-bottom: 15px !important;
        font-size: .92em;
        border-radius: 2px;
        line-height: 1.5;
        background-color: #fff !important;
        color: #000 !important;
        margin-left: 13px !important;
    }

    #add_payment_method #payment ul.payment_methods li,
    .woocommerce-cart #payment ul.payment_methods li,
    .woocommerce-checkout #payment ul.payment_methods li {
        line-height: 2.2 !important;
        text-align: left;
        margin: 0;
        font-family: Plus Jakarta Sans, sans-serif;
        font-weight: 400
    }

    .payment_box select {
        height: 52px !important;
        border: 1px solid #DEDEDE !important;
        min-width: 306px !important;
        margin-top: 10px !important;
    }

    #add_payment_method #payment div.payment_box::before,
    .woocommerce-cart #payment div.payment_box::before,
    .woocommerce-checkout #payment div.payment_box::before {
        display: none !important;
    }

    #billing_address_1::placeholder,
    #shipping_address_1::placeholder {
        font-size: 0 !important;
    }

    .woocommerce-form-coupon-toggle {
        display: none !important;
    }

    .korting .woocommerce-form-coupon-toggle {
        display: flex !important;
    }

    .notice .woocommerce-notices-wrapper {
        display: none !important;
    }

    .notice .woocommerce-form-coupon {
        display: none !important;
    }

    .korting {

        .woocommerce-error,
        .woocommerce-info,
        .woocommerce-message {
            padding: 0px !important;
            margin: 0px !important;
            position: relative;
            background-color: #fff !important;
            color: #2B2828 !important;
            border-top: 0px solid #7f54b3 !important;
            list-style: none outside;
            width: auto;
            word-wrap: break-word;
        }

        .woocommerce-error::before,
        .woocommerce-info::before,
        .woocommerce-message::before {
            display: none !important;
        }

        .woocommerce form.checkout_coupon,
        .woocommerce form.login,
        .woocommerce form.register {
            border: 0px solid #cfc8d8 !important;
            padding: 0px 0px !important;
            margin: 0px !important;
            text-align: left;
            border-radius: 0px !important;
        }
    }

    .woocommerce-error {
        display: none !important;
    }

    * {
        font-family: Plus Jakarta Sans, sans-serif;
    }

    label {
        font-size: 13px !important;
        font-weight: 600 !important;
    }

    .woocommerce-checkout-review-order-table {
        display: none !important;
    }

    #add_payment_method #payment,
    .woocommerce-cart #payment,
    .woocommerce-checkout #payment {
        background: #fff !important;
        border-radius: 0px !important;
    }

    #add_payment_method #payment ul.payment_methods,
    .woocommerce-cart #payment ul.payment_methods,
    .woocommerce-checkout #payment ul.payment_methods {
        padding: 0px !important;
        border-bottom: 0px solid #cfc8d8 !important;
    }

    #add_payment_method #payment div.form-row,
    .woocommerce-cart #payment div.form-row,
    .woocommerce-checkout #payment div.form-row {
        padding: 0px !important;
    }

    .woocommerce-additional-fields {
        display: none !important;
    }

    #ship-to-different-address-checkbox {
        display: none !important;
    }

    #ship-to-different-address {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        &::after {
            content: "+";
        }
    }

    .woocommerce-shipping-fields {

        #billing_first_name_field,
        #shipping_first_name_field {
            width: 100% !important;
            order: 1 !important;
        }

        #billing_last_name_field,
        #shipping_last_name_field {
            width: 100% !important;
            order: 2 !important;
        }

        #billing_phone_field,
        #shipping_phone_field {
            width: 100% !important;
            order: 7 !important;
        }

        #billing_email_field,
        #shipping_email_field {
            width: 100% !important;
            order: 8 !important;
        }

        #billing_country_field,
        #shipping_country_field {
            width: 100% !important;
            order: 3 !important;
            display: none !important;
        }


        #billing_address_1_field,
        #shipping_address_1_field {
            width: 100% !important;
            order: 4 !important;
        }

        #billing_postcode_field,
        #shipping_postcode_field {
            width: 100% !important;
            order: 5 !important;
        }

        #billing_city_field,
        #shipping_city_field {
            width: 100% !important;
            order: 6 !important;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 768px) {

            #billing_first_name_field,
            #shipping_first_name_field {
                width: 35% !important;
                order: 1 !important;
            }

            #billing_last_name_field,
            #shipping_last_name_field {
                width: 65% !important;
                order: 2 !important;
            }

            #billing_phone_field,
            #shipping_phone_field {
                width: 35% !important;
                order: 7 !important;
            }

            #billing_email_field,
            #shipping_email_field {
                width: 65% !important;
                order: 8 !important;
            }

            #billing_country_field,
            #shipping_country_field {
                width: 35% !important;
                order: 3 !important;
                display: none !important;
            }


            #billing_address_1_field,
            #shipping_address_1_field {
                width: 100% !important;
                order: 4 !important;
            }

            #billing_postcode_field,
            #shipping_postcode_field {
                width: 20% !important;
                order: 5 !important;
            }

            #billing_city_field,
            #shipping_city_field {
                width: 80% !important;
                order: 6 !important;
            }
        }




        #billing_company_field,
        #billing_address_2_field,
        #shipping_company_field,
        #shipping_address_2_field {
            display: none !important;
        }

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }

        input {
            border: 1px solid #DEDEDE !important;
            height: 53px !important;
            padding-left: 10px !important;
        }

        .shipping_address {
            margin-top: 10px;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
}

.stock {
    display: none !important;
}

.woocommerce-privacy-policy-text {
    color: #121212 !important;
}

.woocommerce-checkout .custom-checkout {
    .custom-afrekenen {
        display: block !important;
    }

    .custom-bedankt {
        display: none !important;
    }
}

.woocommerce-checkout.woocommerce-order-received .custom-checkout {
    .custom-afrekenen {
        display: none !important;
    }

    .custom-bedankt {
        display: block !important;
    }
}


.preview-info {

    strong,
    br {
        display: none !important;
    }
}

.variable-item-contents {
    height: 60px !important;
}

.wpc-filter-_sale_price.wpc-filter-post_meta_exists {
    display: none !important;
}



// CART

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: 100% !important;
}

button.update-cart {
    position: absolute !important;
    font-size: 15px !important;
    line-height: 29px !important;
    padding: 0px !important;
    font-weight: 400 !important;
    border-radius: 0px !important;
    color: #525252 !important;
    background-color: transparent !important;
    border: 0 !important;
    display: flex !important;

}

.woocommerce .quantity .qty {
    width: 50px !important;
    margin-left: 10px !important;
}

.woocommerce-remove-coupon {
    display: none !important;
}

.woocommerce table.shop_table {
    border: 0px solid rgba(0, 0, 0, .1) !important;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;

    tr {
        border: 0px !important;
    }

    th,
    td {
        border-top: 0px !important;
        padding: 0px !important;
        font-weight: 400 !important;
        font-size: 15px !important;
        line-height: 30px !important;
        color: #000000 !important;
        font-weight: 500 !important;
    }

    td {
        text-align: right !important;
    }

    .order-total td,
    .order-total th,
    .order-total td::before {
        font-weight: 700 !important;
    }

    strong {
        font-weight: 700 !important;
    }


}

.cart_totals h2 {
    display: none !important;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent !important;
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
    font-weight: 400 !important;
}

.checkout-button {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    height: 52px !important;
    position: relative !important;
    align-content: center !important;
    align-items: center !important;
    border-radius: 20px !important;
    background-color: #5D7365 !important;
    font-family: Plus Jakarta Sans, sans-serif !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    -webkit-font-smoothing: unset !important;
}

.includes_tax {
    display: none !important;
}

.woocommerce-cart-form__cart-item {
    dl {
        display: flex;

        dt {
            display: none !important;
        }

        dd {
            margin-right: 5px !important;
            font-family: Plus Jakarta Sans, sans-serif !important;
            font-size: 12px !important;
            line-height: 15px !important;
            color: #000 !important;
            font-weight: 400 !important;
        }
    }
}

.next.page-numbers,
.prev.page-numbers {
    height: 30px;
    width: 30px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C2EAFF;
}

a.page-numbers {
    font-family: Plus Jakarta Sans, sans-serif !important;
    font-size: 13px !important;
    line-height: 15px !important;
    color: #000 !important;
    font-weight: 400 !important;


}

span.page-numbers.current {
    color: #C2EAFF !important;
}